@model About
@{
    // @using OneMusic.EntityLayer.Entities Yazmana gerek yok cunku view klasorunde viewımports tanımladık artık.
    ViewData["Title"] = "AddAbout";
    Layout = "~/Views/AdminLayoutController/Index.cshtml";
}

<h3>Yeni Hakkımızda Oluşturma Sayfası</h3>

<form method="post">

   <label>Resim Url </label>
   <input type="text" asp-for="ImageUrl" class="form-control" />

    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title ,new {@class="form-control"})
   @*<input type="text" asp-for="Title" class="form-control" />-->üsttekiyle alttaki aynı*@ 
    <br />

    <label>Açıklamal</label>
    <textarea type="text" asp-for="Description" class="form-control" rows="4"></textarea>
    <br />

    <button class="btn btn-outline-primary">Kaydet</button>

</form>

