@model List<AppUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayoutController/Index.cshtml";
    int count = 0;
}

<h3>Kullanıcı Sayfası</h3>

<table class="table table-bordered table-hover">

    <tr>
        <td>#</td>
        <td>Kullanıcı Adı</td>
        <td>Rol Ata</td>


    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td>@item.Name @item.Surname</td>
            <td><a href="/RoleAssing/AssingRole/@item.Id" class="btn btn-outline-info">Rol Ata</a></td>



        </tr>
    }

</table>

